<apex:page standardController="Account" standardStylesheets="true">
<apex:composition template="{!$Page.VODRedirect_vod}"/>
<script type="text/javascript">        
    var queryparams = "&event=viewHierarchy&acctid=" + "{!Account.Id}";  
    com.vod309.redirect.redirect("childAccount", queryparams);
</script>
</apex:page>